Telecom_Churn_Case_Study_Renjith_M_and_Sai_Sindhusha_check.ipynb
.ipynb_checkpoints
Telecom_Churn_Case_Study_B2.zip
telecom_churn_data.csv
Data+Dictionary-+Telecom+Churn+Case+Study.xlsx
28_08_2021 DS C27 Telecom Churn Case Study B2